.architecture-container {

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:15px;

}



.architecture-node {


    width:500px;

    padding:25px;


    background:#0f172a;


    border-radius:22px;


    border:1px solid #334155;


    box-shadow:
    0 10px 30px rgba(0,0,0,.25);


    transition:.3s;


}



.architecture-node:hover {


    transform:translateY(-5px);


    border-color:#6366f1;


}



.architecture-node h2 {


    margin-bottom:12px;


}



.architecture-node p {


    color:#94a3b8;

}



.details {


    display:flex;

    gap:10px;

    margin-top:20px;

    flex-wrap:wrap;


}



.details span {


    padding:8px 14px;


    background:#1e293b;


    border-radius:20px;


    color:#cbd5e1;


}




.flow-arrow {


    font-size:35px;

    color:#818cf8;


}





.communication-card {


    margin-top:40px;


}





.communication-flow {


    display:flex;

    align-items:center;

    justify-content:center;


    gap:15px;


    flex-wrap:wrap;


}



.communication-flow div {


    padding:15px 20px;


    background:#1e293b;


    border-radius:14px;


}



.communication-flow span {


    color:#818cf8;

    font-size:25px;


}






@media(max-width:700px){


.architecture-node{

width:100%;

}



.communication-flow{

flex-direction:column;

}


}