.dashboard-page {


margin-left:280px;

padding:40px;


}



.page-header {


margin-bottom:35px;


}


.page-header h1 {


font-size:38px;


}



.page-header p {


color:#94a3b8;


}




.dashboard-grid {


display:grid;

grid-template-columns:

repeat(2,1fr);


gap:25px;


}



.stats-grid {


display:grid;

grid-template-columns:

repeat(3,1fr);


gap:15px;


}


.stats-grid div {


background:#020617;

padding:20px;

border-radius:15px;

text-align:center;


}



.stats-grid h4 {


font-size:28px;


color:#60a5fa;


}



.status {


display:inline-block;

padding:6px 14px;

border-radius:20px;

font-size:13px;


}



.completed {


background:#052e16;

color:#4ade80;


}



.quick-links {


display:flex;

flex-direction:column;

gap:10px;


}



.quick-links a {


padding:12px;

background:#1e293b;

border-radius:12px;

color:white;

text-decoration:none;


}



.quick-links a:hover {


background:#2563eb;


}





@media(max-width:900px){


.dashboard-page{

margin-left:0;

}


.dashboard-grid{

grid-template-columns:1fr;

}



}