.practice-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:24px;

}



.practice-card{

transition:.3s;

}



.practice-card:hover{

transform:translateY(-6px);

border-color:#6366f1;

}



.practice-card h2{

margin-bottom:15px;

font-size:22px;

}



.practice-card p{

line-height:1.7;

color:#cbd5e1;

}



@media(max-width:768px){

.practice-grid{

grid-template-columns:1fr;

}

}