.recommendation-grid{


display:grid;


grid-template-columns:

repeat(3,1fr);


gap:25px;


}




.recommendation-card{


transition:.3s;


}



.recommendation-card:hover{


transform:translateY(-6px);


border-color:#8b5cf6;


}



.recommendation-card h2{


margin-bottom:15px;


}



.recommendation-card p{


color:#cbd5e1;


line-height:1.6;


}



.recommendation-card ul{


margin-top:15px;

padding-left:20px;


}



.recommendation-card li{


margin:8px 0;

color:#94a3b8;


}




@media(max-width:1000px){


.recommendation-grid{


grid-template-columns:repeat(2,1fr);


}


}



@media(max-width:650px){


.recommendation-grid{


grid-template-columns:1fr;


}


}