.repository-layers{


display:flex;


flex-direction:column;


gap:25px;


}




.layer-card{


transition:.3s;


}



.layer-card:hover{


transform:translateY(-6px);


border-color:#6366f1;


}




.layer-card h2{


margin-bottom:20px;


}




.layer-card h4{


color:#60a5fa;


margin-top:20px;


}




.layer-card p,


.layer-card li{


color:#cbd5e1;


line-height:1.6;


}




.layer-card ul{


padding-left:20px;


}