.metrics-grid {


display:grid;


grid-template-columns:

repeat(4,1fr);


gap:25px;


}



.metric-card {


text-align:center;


transition:.3s;


}



.metric-card:hover {


transform:translateY(-7px);


border-color:#6366f1;


}



.metric-icon {


font-size:35px;

margin-bottom:15px;


}



.metric-value {


font-size:38px;


font-weight:bold;


margin:15px 0;


background:

linear-gradient(
90deg,
#60a5fa,
#c084fc
);


-webkit-background-clip:text;
    background-clip:text;


color:transparent;


}



.metric-card p {


color:#94a3b8;


}





@media(max-width:1100px){


.metrics-grid{


grid-template-columns:

repeat(2,1fr);


}


}



@media(max-width:600px){


.metrics-grid{


grid-template-columns:

1fr;


}


}