<div class="bug-card card">


<div class="bug-header">


<h2>
{{TITLE}}
</h2>


<span class="priority-badge">
{{PRIORITY}}
</span>


</div>




<div class="bug-section">

<h4>
Description
</h4>

<p>
{{DESCRIPTION}}
</p>

</div>





<div class="bug-section">

<h4>
Affected Files
</h4>

<ul>

<li>
{{FILE1}}
</li>

<li>
{{FILE2}}
</li>

</ul>

</div>





<div class="bug-section">

<h4>
Root Cause
</h4>


<p>
{{ROOT_CAUSE}}
</p>


</div>





<div class="bug-section">

<h4>
Impact
</h4>


<p>
{{IMPACT}}
</p>


</div>





<div class="bug-section">

<h4>
Suggested Fix
</h4>


<p>
{{FIX}}
</p>


</div>




</div>