<div class="card layer-card">


<h2>
{{TITLE}}
</h2>


<div class="layer-section">

<h4>Description</h4>

<p>
{{DESCRIPTION}}
</p>


</div>



<div class="layer-section">

<h4>Purpose</h4>

<p>
{{PURPOSE}}
</p>


</div>




<div class="layer-section">

<h4>Folder / File Paths</h4>

<ul>

<li>{{PATH1}}</li>

<li>{{PATH2}}</li>

</ul>


</div>




<div class="layer-section">

<h4>Responsibilities</h4>

<ul>

<li>{{RESPONSIBILITY1}}</li>

<li>{{RESPONSIBILITY2}}</li>

<li>{{RESPONSIBILITY3}}</li>

</ul>


</div>




<div class="relationship">

Relationship:

{{RELATIONSHIP}}

</div>



</div>