<div class="stats-grid">


    <div class="stats-card">


        <h3>
            📂 Files Analyzed
        </h3>


        <strong class="counter" data-target="1248">
            0
        </strong>


    </div>




    <div class="stats-card">


        <h3>
            🐞 Issues Found
        </h3>


        <strong class="counter" data-target="23">
            0
        </strong>


    </div>




    <div class="stats-card">


        <h3>
            🤖 AI Agents
        </h3>


        <strong class="counter" data-target="4">
            0
        </strong>


    </div>




    <div class="stats-card">


        <h3>
            📄 Documents Indexed
        </h3>


        <strong class="counter" data-target="856">
            0
        </strong>


    </div>


</div>